@import "../../../../../styles/var.scss";
@import "../../../../../styles/mixin.scss";

.modal {
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  padding: 30px;
  width: 300px;
  background-color: $color_greyF4;
  pointer-events: all;
  animation: show 0.2s ease;

  &__title {
    margin-bottom: 10px;
    text-align: center;
  }

  &__btnBox {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__btn {
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 10px;
    width: 80px;
    cursor: pointer;
    @include transition;

    &_cancel {
      background-color: $color_purple;

      &:hover {
        background-color: $color_blue;
      }

      &:active {
        border-color: $color_blue;
        color: $color_blue;
        background-color: $color_purple;
      }
    }

    &_delete {
      background-color: $color_red;

      &:hover {
        background-color: $color_darkRed;
      }

      &:active {
        border-color: $color_red;
        color: $color_red;
        background-color: $color_white;
      }
    }
  }

  &__error {
    position: absolute;
    bottom: 10px;
    left: 50%;
    max-width: 95%;
    transform: translate(-50%, 0);
  }
}

.spinner {
  z-index: 100;
  position: absolute;
  bottom: 5px;
  left: 50%;
  height: 20px;
  width: 20px;
  margin-left: -10px;
  border-right: 4px solid $color_green;
  border-top: 4px solid $color_red;
  border-bottom: 4px solid $color_red;
  border-left: 4px solid $color_green;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes show {
  from {
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
