@import "var.scss";

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-width: 320px;
  color: $color_black;
  word-break: break-all;
}

.body-noscroll {
  overflow: hidden;
}

#modal-root {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  pointer-events: none;
  overflow: auto;
}

.modal-root-active {
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: all !important;
}

.found-result {
  background-color: $color_orange;
}
